METERLANE_LISTEN=:8080
METERLANE_DATA=data/meterlane.json
MIGRATIONS_DIR=migrations
STRIPE_ADAPTER=fake
FLUSH_EVERY=30s
DEV_WORKSPACE=ws_dev
DEV_API_KEY=ml_test_localdev0000000000000000
ALPHA_TOKEN=change-me
